# Python Virtual Environments
venv/
**/venv/
.venv/
**/.venv/
env/
**/env/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Environment Variables & Secrets
.env
*.env.local

# IDE / Editor artifacts
.vscode/
.idea/
*.swp
*.swo

# OS artifacts
Thumbs.db
.DS_Store

# Temporary / Scratch files
*.log
scratch/
